* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ----------***HEADER---------- */

header {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
}

nav {
  width: 83.3%;
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

span {
  color: #f9b500;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.15s ease-in;
}

a:hover {
  color: #f9b500;
  transition: all 0.15s ease-in;
}

a.sign-btn {
  color: #212121;
  border: solid 2px #f9b500;
  padding: 6px 16px;
  border-radius: 10px;
  transition: all 0.15s ease-in;
}

a#sign-btn:hover {
  background-color: #f9b500;
  color: whitesmoke;
  transition: all 0.15s ease-in;
}

/* ----------HEADER***---------- */

/* ----------***BURGER-MENU---------- */

.burger-sec {
  width: 100%;
  height: auto;
  position: relative;
  z-index: +999;
  display: none;
  padding-bottom: 15px;
}

.burger-ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.burger-icon {
  display: none;
  cursor: pointer;
  font-size: 28px;
  transition: all 0.15s ease-in;
}

.burger-icon:hover {
  color: #f9b500;
  transition: all 0.15s ease-in;
}

/* ----------BURGER-MENU***---------- */

/* ----------***IFO-BAR-SECTION---------- */

.info-bar-sec {
  width: 83.3%;
  height: 94vh;
}

.info-bar {
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 21px;
}

.card-color {
  background-color: #f9b500;
  border-radius: 16px;
}

.info-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: linear-gradient(0deg, rgba(249, 181, 0, 1), rgba(249, 181, 0, 0)), url(images/Image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-out;
}

.info-1:hover {
  cursor: pointer;
}

.l-info-txt {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 30px;
  overflow: hidden;
}

.l-info-txt-h6 {
  height: 50%;
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
}

.l-info-container {
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-info-container-txt {
  color: whitesmoke;
  font-size: 14px;
  font-weight: 400;
}

.s-info-txt {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 20px;
}

.s-info-txt-h6 {
  height: 50%;
  color: whitesmoke;
  font-size: 13px;
  font-weight: 800;
}

.s-info-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.s-info-container-txt {
  color: whitesmoke;
  font-size: 13px;
  font-weight: 400;
}

.info-2 {
  background: linear-gradient(0deg, rgba(249, 181, 0, 1), rgba(249, 181, 0, 0)), url(images/Image-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-out;
}

.info-2:hover {
  cursor: pointer;
}

.info-3 {
  background: linear-gradient(0deg, rgba(249, 181, 0, 1), rgba(249, 181, 0, 0)), url(images/Image-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-out;
}

.info-3:hover {
  cursor: pointer;
}

.info-4 {
  background: linear-gradient(0deg, rgba(249, 181, 0, 1), rgba(249, 181, 0, 0)), url(images/Image-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-out;
}

.info-4:hover {
  cursor: pointer;
}

.info-5 {
  background: linear-gradient(0deg, rgba(249, 181, 0, 1), rgba(249, 181, 0, 0)), url(images/Image-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-out;
}

.info-5:hover {
  cursor: pointer;
}

.info-6 {
  background: linear-gradient(0deg, rgba(249, 181, 0, 1), rgba(249, 181, 0, 0)), url(images/Image-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-out;
}

.info-6:hover {
  cursor: pointer;
}

/* ----------IFO-BAR-SECTION***---------- */

/* ---------***NEWS-SECTION---------- */

.news-sec {
  width: 83.3%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
}

.news-sec-1 {
  width: 66.6%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.news-sec-2 {
  width: 33.4%;
  height: 100%;
  padding-left: 50px;
}

.news-header {
  width: 100%;
  height: 35px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #626068;
}

.news-header-h6 {
  font-size: 20px;
  font-weight: 800;
  color: #212121;
}

.news-1 {
  width: 100%;
  height: auto;
}

.news-1-sec-1 {
  width: 100%;
  height: auto;
}

.news-image-1 {
  width: 100%;
  height: 205px;
  border-radius: 16px;
  background: url(images/Image-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 24px;
}

.price-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-box-container {
  width: 100%;
  height: 640px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 74px);
  gap: 34px;
  justify-items: center;
  padding-top: 25px;
}

.price-box-txt {
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}

.txt-news {
  width: 100%;
  height: auto;
  padding-top: 24px;
}

.txt-news-p {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.txt-news-p-1 {
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  margin-bottom: 5px;
}

.txt-news-p-2 {
  font-size: 16px;
  color: #626068;
  font-weight: 400;
}

.txt-news-a {
  font-size: 14px;
  color: #626068;
  font-weight: 400;
  transition: all 0.15s ease-out;
}

/* ---------NEWS-SECTION***---------- */

/* ----------***MINING-NEWS-SECTION---------- */

.mining-news-sec {
  width: 83.3%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}

.mining-news-sec-1 {
  width: 66.6%;
  height: 100%;
}

.mining-news-header {
  width: 100%;
  height: 35px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #626068;
  margin-bottom: 24px;
}

h6.mining-news {
  color: #202020;
  font-size: 20px;
  font-weight: 800;
}

.mining-news-sec-2 {
  width: 33.4%;
  height: 100%;
  padding-left: 50px;
}

div.mining-news-news {
  width: 100%;
  height: 625px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 30px;
}

.news-2,
.news-3,
.news-4,
.news-5 {
  margin-bottom: 30px;
}

div.news-2-image {
  width: 100;
  height: 75%;
  border-radius: 16px;
  background: url(images/Image-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.news-3-image {
  width: 100;
  height: 75%;
  border-radius: 16px;
  background: url(images/Image-9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.news-4-image {
  width: 100;
  height: 75%;
  border-radius: 16px;
  background: url(images/Image-10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.news-5-image {
  width: 100;
  height: 75%;
  border-radius: 16px;
  background: url(images/Image-11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-2-txt {
  width: 90%;
  height: 25%;
  padding-top: 25px;
}

.txt-news-p-1 {
  color: #212121;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 5px;
}

.txt-news-p-2 {
  color: #626068;
  font-size: 14px;
  font-weight: 400;
}

.txt-news-2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 10px;
}

.popular-sec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.popular-1,
.popular-2 {
  width: 100%;
  height: 275px;
}

/* ----------MINING-NEWS-SECTION***---------- */

/* ----------***SUBSCRIBE-SECTION---------- */

.subscribe-sec {
  width: 83.3%;
  height: auto;
  background-color: #f9b500;
  padding: 30px 150px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-txt-container {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subscribe-txt {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.subscribe-form-container {
  width: 40vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.input-email {
  width: 60%;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #f9b500;
  border-radius: 10px;
  background-color: #f4f4f4;
  margin-top: 16px;
}

.input-email::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.input-submit {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  width: 35%;
  height: 30px;
  margin-left: 10px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-top: 16px;
}

.input-submit:hover {
  background-color: #f9b500;
  border: #202020 1px solid;
}

.email-result{
  font-size: 14px;
  color: #202020;
  font-weight: 400;
  margin-top: 8px;
}

/* ----------SUBSCRIBE-SECTION***---------- */

/* ----------***FOOTER-SECTION---------- */

.footer-sec {
  width: 100%;
  height: auto;
  margin-top: 40px;
  background-color: #202020;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.footer-1 {
  width: 83.3%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

div.footer-2 {
  width: 49.8%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px 20px 0px;
}

.footer-2-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

div.footer-1-1 {
  width: 66.6%;
  height: 100%;
  margin-top: 30px;
}

div.footer-1-2 {
  width: 33.4%;
  height: 100%;
  padding-left: 30px;
  margin-top: 30px;
}

h6.footer-header {
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
  border-bottom: 2px solid #f9b500;
  padding-bottom: 10px;
  margin-bottom: 16px;
}

.footer-text-1 {
  font-size: 14px;
  font-weight: 400;
  margin-top: px;
  color: #626068;
  text-align: justify;
}

.footer-text-2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  color: #626068;
}

div.footer-social-header {
  width: 100%;
  height: 36px;
  border-bottom: 2px solid #f9b500;
  padding-bottom: 10px;
}

h6.footer-social-text {
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
}

div.footer-social-icon {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.a-icon {
  color: #626068;
  font-size: 28px;
}

svg {
  width: 28px;
  height: 28px;
}

.footer-social-icon-ul {
  width: 100%;
  height: 55px;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img.image {
  width: 30px;
  height: 30px;
}

a.footer-2-text-a {
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  color: #626068;
  transition: all 0.15s ease-in;
}

a.footer-2-text-a:hover {
  color: #f9b500;
  transition: all 0.15s ease-in;
}

/* ----------FOOTER-SECTION***---------- */

/* ----------***@media-queries---------- */

@media screen and (max-width: 899.9px) {
  .header-ul {
    display: none;
  }

  a.sign-btn {
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .info-bar {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }

  .info-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-size: cover;
  }

  .info-1:hover {
    background-size: cover;
  }

  .l-info-txt {
    margin: 15px 20px;
  }

  .l-info-container-txt {
    display: none;
  }

  .s-info-container-txt {
    display: none;
  }

  .l-info-txt-h6 {
    font-size: 13px;
  }

  .news-sec-1 {
    width: 100%;
    height: 100%;
  }

  .news-sec-2 {
    display: none;
  }

  .news-header {
    width: 100%;
    height: 35px;
  }

  .news-1 {
    width: 100%;
    height: 635px;
  }

  .mining-news-sec {
    margin-top: 30px;
  }

  .mining-news-sec-1 {
    width: 100%;
    height: 100%;
  }

  .mining-news-sec-2 {
    display: none;
  }
}

@media screen and (max-width: 599.9px) {
  .info-bar {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
  }

  .info-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .info-1:hover {
    background-size: cover;
  }

  .info-2,
  .info-3,
  .info-4,
  .info-5,
  .info-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .news-image-1 {
    background-size: cover;
  }

  .mining-news-sec {
    margin-top: 56px;
  }

  div.mining-news-news {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    gap: 30px;
  }

  div.footer-2 {
    margin: 10px 0px;
  }

  div.footer-1-1,
  div.footer-1-2 {
    width: 100%;
    height: auto;
    padding-left: 0px;
  }

  .subscribe-form-container {
    width: 60vw;
    flex-direction: column;
  }

  .input-email,
  .input-submit {
    width: 100%;
    margin-left: 0px;
  }

  .input-submit {
    margin-top: 8px;
  }
}

/* ----------@media-queries***---------- */
